nav li a{
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    text-align: center;
    font: bold;
    font-size: 20px;
    border-radius: 2px;
    color:white;
    text-decoration: none;
    
    
    
}
a:hover{
    color:coral;
}
nav li{
    display: inline-block;
    margin-left: 60px;
    margin-right: 50px;
    margin-top: 10px;
    border-radius: 3PX;  
    margin-left:105px; 
}
body{
    background: url(tourisme.jpg) 100% no-repeat;
    color:white;
}
header{
 margin-top: 300px;
 margin-left: 800px;
 border:white solid;
}
marquee{
    font-size: 20px;
    font-size: bold;
}